*{
    padding: 0px;
    margin: 0px;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

h2 {
    color: white;
}

/* Caso base: sopra i 1100px */
@media only screen and (min-width: 1101px) {

    /* MAIN LEFT */

    .main-left{
        display: inline-block;
        width: 30%;
        background-color: #000000;
        color: white;   
    }

    .logo-spotify{
        width: 50px;
    }
    
    .logo-spotify > img{
        width: 100%;
    }

    /* MAIN RIGHT */

    .main-right{
        display: inline-block;
        margin-left: 30%;
        overflow: scroll;
    }

    /* top */

    .right-top{
        background-color: #080B12;
        color: white;
        padding: 30px;
    }

    .button-upgrade{
        border: solid white;
        background-color: #080B12;
        color: white;
        padding: 15px 30px;
        border-radius: 20px;
    }

    /* bottom */

    .mode{
        text-align: center;
        padding: 10px 150px;
        font-size: 0.6em;
        color: #4A4E54;
    }

    .right-bottom{
        background-color: #141922;
        
    }

    .recently{
        padding: 30px;
    }

    .create-for-you{
        padding: 30px;
    }

    .popular-artist{
        padding: 30px;
    }

    .cards{
        display: flex;
    }

    .playlist{
        width: calc(100% / 6);
    }

    .play-title{
        color: white;
    }

    .play-artist{
        color: #777A7E;
    }

    .img-play img{
        width: 100%;
    }

    .img-play-1{
        display: flex;
        flex-wrap: wrap;
        
    }

    .img-play-1 > img{
        width: 50%;
    }

    .create-for-you > p{
        color: #77797E;
        font-size: 0.7em;
        margin-bottom: 20px ;
    }

    .popular-artist > p{
        color: #77797E;
        font-size: 0.7em;
        margin-bottom: 20px ;
    }


    /* FOOTER */
    
    footer{
        background-color: #282828;
        color: white;
       
    }

  }
  
  /* Primo breakpoint: fino a 1100px */
  @media only screen and (max-width: 1100px) {
    /* Stili per il primo breakpoint */
  }
  
  /* Secondo breakpoint: fino a 700px */
  @media only screen and (max-width: 700px) {
    /* Stili per il secondo breakpoint */
  }
  
  /* Terzo breakpoint: fino a 600px */
  @media only screen and (max-width: 600px) {
    /* Stili per il terzo breakpoint */
  }
  
